@use '../util/' as u;

:root {
  --rounded-sm: 10px;
  --rounded-md: 15px;
  --rounded-lg: 25px
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Outfit, Arial, Helvetica, sans-serif;
  background-color: var(--clr-dark-strong);
  color: var(--clr-white);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.wrapper {
  width: min(calc(100% - u.rem(30)), u.rem(1140));
  margin-inline: auto;
}