:root {
  --clr-purple: #450660;
  --clr-purple-dark: #27023b;
  --clr-purple-blue: hsl(273, 100%, 8%);
  --clr-pink: #950c9d;
  --clr-black: hsl(0, 0%, 0%);
  --clr-black-strong: 13, 13, 13;
  --clr-black-opacity: rgba(0, 0, 0, 0.4);
  --clr-dark-strong: hsl(0, 0%, 7%);
  --clr-dark-mid: hsl(0, 0%, 10%);
  --clr-dark-light: 33, 33, 33;
  --clr-gray: #949494;
  --clr-gray-light: hsl(0, 0%, 87%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-white-opacity: rgba(255, 255, 255, .1)
}