@use '../util/' as u;

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(100% - u.rem(32), u.rem(1140));
  margin-inline: auto;
  padding: u.em(16);

  @include u.breakpoint(large) {
    margin-top: u.rem(40);
  }
}