@use '../util/' as u;

.achieve {
  margin-bottom: clamp(u.rem(77), 2.9220779220779223rem + 11.688311688311687vw, u.rem(155));
  ;

  &__title {
    text-align: center;
    margin-bottom: u.rem(30);
  }

  &__description {
    text-align: center;
    color: var(--clr-gray);
    width: min(100%, u.rem(450));
    margin-inline: auto;
    margin-bottom: u.rem(54);
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr;
    gap: u.rem(60);
    border-top: 3px solid rgba(var(--clr-dark-light), .5);
    padding: u.rem(60) 0;

    @include u.breakpoint(large) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__card-bottom {
    border-bottom: 3px solid rgba(var(--clr-dark-light), .5);
  }

  &__card-text {
    width: min(100%, u.rem(500));
    margin-inline: auto;
  }

  &__card-title {
    margin-bottom: u.rem(50);
  }

  &__card-description {
    color: var(--clr-gray);
  }

  &__card-item-list:not(:last-child) {
    margin-bottom: u.rem(30);
  }

  &__card-icon {
    display: inline-block;
    margin-inline-end: u.rem(10);
    height: u.rem(20);
    width: u.rem(20);
  }

  &__card-item-text {
    color: var(--clr-gray-light)
  }

  &__container-image-with-bg {
    background: url('../../assets/images/total-revenue.png');
    width: min(100%, u.rem(540));
    height: clamp(u.rem(370), 8.830958549222798rem + 34.97409326424871vw, u.rem(540));
    border-radius: var(--rounded-md);
    margin-inline: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__container-image {
    background: linear-gradient(var(--clr-blue-purple-gradient), var(--clr-pink-gradient));
    padding: clamp(u.rem(35), 1.1447538860103628rem + 4.533678756476684vw, u.rem(70)) clamp(u.rem(30), 1.1447538860103628rem + 4.533678756476684vw, u.rem(60));
    border-radius: var(--rounded-md);
    width: min(100%, u.rem(540));
    margin-inline: auto;
  }

  &__image {
    width: min(100%, u.rem(420));
    object-fit: cover;
  }
}