@use '../util/' as u;

.achieve {
  margin-bottom: clamp(u.rem(90), 2.9220779220779223rem + 11.688311688311687vw, u.rem(180));
  ;

  &__title {
    text-align: center;
    margin-bottom: u.rem(30);
  }

  &__description {
    text-align: center;
    color: var(--clr-gray);
    width: min(100%, u.rem(450));
    margin-inline: auto;
    margin-bottom: u.rem(54);
  }



  &__card {
    border-top: 3px solid rgba(var(--clr-dark-light), .5);
    padding: u.rem(60) 0;
  }

  &__card-text {}

  &__card-title {}

  &__card-description {}

  &__card-list {}

  &__card-icon {}

  &__card-item-text {}

  &__image {}
}