@use '../util/' as u;

.customers {
  &__title {
    text-align: center;
    margin-bottom: u.rem(35);
  }

  &__description {
    color: var(--clr-gray);
    text-align: center;
    margin-bottom: u.rem(70);
  }

  &__grid {}

  &__column {}

  &__column-one {}

  &__column-two {}

  &__column-three {}

  &__card {
    border-radius: var(--rounded-md);
    border: 1px solid rgba(var(--clr-dark-light), 1);
    padding: u.rem(32);
    color: var(--clr-gray);
    margin-bottom: u.rem(20);
  }

  &__card-text {
    margin-top: u.rem(-45);
  }

  &__card-container-user {}

  &__card-image {}

  &__card-image-mary {}

  &__card-image-david {}

  &__card-image-emily {}

  &__card-user {}

  &__card-name {
    color: var(--clr-gray-light)
  }

  &__card-job {}

}