@use '../util/' as u;

.discover {
  margin-bottom: clamp(u.rem(90), 2.9220779220779223rem + 11.688311688311687vw, u.rem(180));
  ;

  &__wrapper {}

  &__top {}

  &__title {}

  &__description {}

  &__bottom {}

  &__container-dropdown {}


  &__container-image {}

  &__image {}
}

.dropdown {

  &:has(:checked) {
    --row: 1fr
  }

  &__link {
    position: relative;
  }

  &__icon {}

  &__title {}

  &__check {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__arrow {}

  &__content {
    display: grid;
    grid-template-rows: var(--row, 0fr);
  }

  &__text {
    overflow: hidden;
  }
}