@use '../util/' as u;

.discover {
  margin-bottom: clamp(u.rem(90), 2.9220779220779223rem + 11.688311688311687vw, u.rem(180));
  ;

  &__top {
    margin-bottom: u.rem(50);
  }

  &__title {
    margin-bottom: u.rem(35);
  }

  &__description {
    width: min(100%, u.rem(440));
    color: var(--clr-gray);
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr;
    gap: u.rem(100);

    @include u.breakpoint(large) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__container-dropdown {
    display: flex;
    flex-direction: column;
    row-gap: u.rem(10);

    @include u.breakpoint(large) {
      justify-content: center;
    }
  }


  &__container-image {
    border-radius: var(--rounded-md);
    background: rgba(var(--clr-dark-light), .5);
    padding: u.rem(35) 0 u.rem(35) 0px;
    max-height: u.rem(500);

    @include u.breakpoint(large) {
      padding: u.rem(45) 0 u.rem(45) u.rem(77)
    }
  }

  &__image {
    height: clamp(u.rem(250), 7.065746753246753rem + 37.01298701298701vw, u.rem(410));
    width: min(100%, u.rem(485));
    margin: 0 auto;

    @include u.breakpoint(large) {
      border-radius: var(--rounded-md) 0 0 var(--rounded-md);
      margin: 0 0 0 auto;
    }
  }
}

.dropdown {

  &:has(:checked) {
    --row: 1fr;
    --padding: 0px 25px 25px 25px;
    --opacity: 1;
    --border-radius: var(--rounded-md, 0) var(--rounded-md, 0) 0 0;
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(var(--clr-dark-light), .6);
    padding: u.rem(22) u.rem(25);
    border-radius: var(--border-radius, 10px);
  }

  &__container-icon-title {
    display: flex;
  }

  &__icon {
    height: u.rem(23);
    width: u.rem(23);
    margin-inline-end: u.rem(25);
  }

  &__title {
    color: var(--clr-gray-light);
    font-weight: 600;
  }

  &__check {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__arrow {
    width: u.rem(15);
    height: u.rem(10);
  }

  &__content {
    background: rgba(var(--clr-dark-light), .6);
    border-radius: 0 0 var(--rounded-md) var(--rounded-md);
    display: grid;
    grid-template-rows: var(--row, 0fr);
    opacity: var(--opacity, 0);
    padding: var(--padding, 0 0 0 0);
    transition-property: grid-template-rows padding border-radius;
    transform-origin: top center;
    transition: .25s ease-in-out;
  }

  &__text {
    overflow: hidden;
    color: var(--clr-gray);
  }
}