@use '../util/' as u;

.header {
  background-color: var(--clr-black-opacity);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: u.em(16) 0;

    @include u.breakpoint(large) {
      margin-top: u.rem(40);
    }
  }

  &__logo {
    width: u.rem(30);
    height: u.rem(30);
  }

  &__nav {
    display: none;

    @include u.breakpoint(large) {
      display: flex;
      gap: u.rem(30);
      justify-content: center;
    }
  }

  &__li {
    color: var(--clr-gray);
    font-weight: 400;
    cursor: pointer;
    transition: color .25s ease-in-out;

    &:hover {
      color: var(--clr-white);
      transition: color .25s ease-in-out;
    }
  }

  &__menu-icon {
    img {
      height: u.rem(30);
      width: u.rem(30);
    }

    @include u.breakpoint(large) {
      display: none;
    }
  }

  &__btn {
    background: var(--clr-white);
    color: var(--clr-black);
    font-weight: 600;
    border-radius: var(--rounded-lg);
    padding: u.em(10) u.em(15);
    transition: all .25s ease-in-out;
    display: none;

    &:hover {
      background: linear-gradient(to top, var(--clr-black), var(--clr-purple));
      color: var(--clr-white);
      transition: all .25s ease-in-out;

      img {
        content: url('../../assets/images/arrow-icon-light.png');
        transition: all .25s ease-in-out;
      }
    }

    @include u.breakpoint(large) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__arrow-icon {
    width: u.rem(20);
    height: u.rem(20);
  }
}