@use '../util/' as u;

.header {
  background-color: var(--clr-black-opacity);

}

.header__logo {
  width: u.rem(30);
  height: u.rem(30);
}

.header__menu-icon {
  width: u.rem(30);
  height: u.rem(30);
}