@use '../util/' as u;

.header {
  background-color: var(--clr-black-opacity);

  &__logo {
    width: u.rem(30);
    height: u.rem(30);
  }

  &__nav {
    display: none;
     @include u.breakpoint(large) {
      display: flex;
    }
  }

  &__menu-icon {
    width: u.rem(30);
    height: u.rem(30);

    @include u.breakpoint(large) {
      display: none;
    }
  }
}