@use '../util/' as u;

.hero {

    &__content {
        width: min(calc(100% - u.rem(32)), u.rem(650));
        margin-inline: auto;
        padding-top: u.rem(55);
    }

    &__message-top {
        display: inline-block;
        background: var(--clr-white-opacity);
        border-radius: var(--rounded-lg);
        padding: u.em(15) u.em(22);
        margin-bottom: u.rem(45);
    }

    &__message-read-it {
        background: var(--clr-black);
        color: var(--clr-white);
        font-weight: 600;
        padding: u.em(12) u.em(20);
        border-radius: var(--rounded-lg);
        margin-inline-end: 1em;
        font-size: 11px;
        transition-property: background;
        transition: .25s ease-in-out;

        &:hover {
            background: var(--clr-purple);
            transition-property: background;
            transition: .25s ease-in-out;
        }
    }

    &__title {
        letter-spacing: u.rem(-2);
    }

    &__arrow-icon {
        width: u.rem(20);
        height: u.rem(20);
    }
}