@use '../util/' as u;

.levels {
  &__wrapper {}

  &__title {
    text-align: center;
    margin-bottom: u.rem(30);
  }

  &__text {
    text-align: center;
    color: var(--clr-gray);
  }

  &__container-image {}

  &__image {}

  &__features {}

  &__item {}

  &__item-icon {}

  &__item-title {}

  &__item-text {}
}