@use "../util/" as u;

.why-rombo {
  margin-bottom: clamp(u.rem(60), 1.9624352331606219rem + 7.772020725388601vw, u.rem(120));

  &__title {
    text-align: center;
    margin-bottom: u.rem(30);
  }

  &__text {
    text-align: center;
    color: var(--clr-gray);
    margin-bottom: u.rem(55);
    width: min(100%, u.rem(500));
    margin-inline: auto;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: u.rem(22);
  }

  &__item {
    background: rgba(var(--clr-dark-light), .6);
    border-radius: var(--rounded-sm);
    padding: u.rem(35) u.rem(30);
    transition: background .25s ease-in-out;
    cursor: pointer;

    &:hover {
      background: rgba(var(--clr-dark-light), .3);
      transition: background .25s ease-in-out;
    }
  }

  &__item-icon {
    height: u.rem(25);
    width: u.rem(25);
    object-fit: contain;
  }

  &__item-title {
    margin: u.rem(25) 0;
    color: var(--clr-gray-light);
  }

  &__item-text {
    color: var(--clr-gray);
  }

}